.sort {
    padding: 12px;
    margin-top: 14px !important;
    margin-right: 10px !important;

    color: #c50e54 !important;
    float: right;
}


.dropdownMenu{
    margin-top: 40px !important;
    margin-right: 10px !important;
   
    
}